<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectoubi_41400">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectoUBI41400"
>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".estudanteMain">

        </activity>
        <activity android:name=".professorMain">

        </activity>
        <activity android:name=".gerirLinguas">

        </activity>
        <activity android:name=".estudar">

        </activity>
        <activity android:name=".defEstudante">

        </activity>
        <activity android:name=".iniciarSessao">

        </activity>
        <activity android:name=".registar">

        </activity>
        <activity android:name=".Firebase">

        </activity>
        <activity android:name=".prof_gestor">

        </activity>
        <activity android:name="prof_criar">

        </activity>
    </application>

</manifest>